body {
     background-color:#99d6ff;
     font-family: 'Readex Pro', sans-serif;
}
 .nike1{
     background-image: url(../image/nike.png);
     background-size: contain;
     background-repeat: no-repeat;
     width: 8.375rem;
     height: 5.625rem;
     position: relative;
     top: -11.5rem;
     left: 10.55rem;
}
 .nike2{
     background-image: url(../image/nike.svg);
     background-size: contain;
     background-repeat: no-repeat;
     width: 8.375rem;
     height: 5.625rem;
     margin: auto;
     position: relative;
     top: -11.5rem;
     right: 1rem;
     display: none;
     z-index: 2;
}
 .nike3{
     height: 1.25rem;
     width: 2.813rem;
     display: none;
     position: relative;
     bottom: 500px;
     left: -30px;
}
 #myCanvas {
     width: 18rem;
}
 .tshirt{
     background-image: url(../image/tshirt.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     width: 503px;
     height: 600px;
     border-radius: 5px;
     margin: auto;
     margin-left: 30px;
}
 .shoe{
     background-image: url(../image/shoe.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     width: 563px;
     height: 750px;
     border-radius: 5px;
     margin: auto;
}
 #part{
    /*background-image: url(../image/pt2.png);
     to je tisto*/
     background-size: contain;
     background-repeat: no-repeat;
     margin: auto;
     width: 930px;
     height: 750px;
     background-color: white;
     color: black;
     padding: 5px;
     border: 1px solid #062a63;
     margin-bottom: 10px;
     border-radius: 3px;
     padding-top: 20px;
    /*float: left;
     to je tudi tisto*/
}
 .part2{
     background-image: url(../image/pt1.png);
    /* to je tisto*/
     background-size: contain;
     background-repeat: no-repeat;
     margin: auto;
     width: 930px;
     height: 900px;
     background-color: white;
     color: black;
     padding: 5px;
     border: 1px solid black;
     margin-bottom: 10px;
     border-radius: 3px;
     padding-top: 20px;
     float: right;
    /*to je tudi tisto*/
}
 .cntrl{
     float: right;
     position: relative;
     margin-top: 40px;
     right: 430px;
}
 .cntrl2{
     float: right;
     position: relative;
     margin-top: -70px;
     right: 430px;
     height: 50px
}
 .cntrl2 > button{
     padding: 20px;
     margin-bottom: 0px;
     border-radius: 5px;
     margin-left: 30px;
     margin-right: 30px;
}
 .cntrl > button{
     padding: 20px;
     margin-bottom: 0px;
     border-radius: 5px;
     margin-left: 30px;
     margin-right: 30px;
}
 button{
     padding: 20px;
     margin-bottom: 150px;
     border-radius: 5px;
     font-family: 'Readex Pro', sans-serif;
     border: 2px solid #001f33;
}
 canvas{
     margin-top: 250px;
     margin-left: 180px;
     width: 230px;
}
 .shoe2{
     background-image: url(../image/shoe.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     width: 470px;
     height: 450px;
     border-radius: 5px;
     margin: auto;
     margin-left: 25px;
     margin-top: 180px;
}
 a{
     text-decoration: none;
     color: #092147;
}
 .nike4{
     background-image: url(../image/nike.png);
     background-size: contain;
     background-repeat: no-repeat;
     width: 120px;
     height: 90px;
     position: relative;
     top: -230px;
     left: 150px;
     display: none;
     transform: scaleX(-1);
}
 .nike5{
     background-image: url(../image/nike.svg);
     background-size: contain;
     background-repeat: no-repeat;
     width: 120px;
     height: 90px;
     margin: auto;
     position: relative;
     top: -230px;
     right: 25px;
     display: none;
     z-index: 2;
     transform: scaleX(-1);
}
 .nike6{
     height: 20px;
     width: 45px;
     display: none;
     transform: scaleX(-1);
     position: relative;
     left: 420px;
     bottom: 540px;
}
 #myCanvas2{
     width: 260px;
}
 button:hover{
     background-color: #99d6ff;
     transition: 0.5s;
}
 .flex-container {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     max-width: 1900px;
     margin: auto;
}
 .flex-container > #part {
     min-width: none;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ddd; 
  border-radius: 15px;
  border: 1px solid #689df2
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e96bd; 
  border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #608fdb; 
}
.navbar {
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  position: sticky;
  top: 3px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(39, 148, 245, 0.41);
}

.navbarli {
  float: left;
  padding-left: 20%;
}

.navbarlia {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
 .nike22{
     background-image: url(../image/nike.png);
     background-size: contain;
     background-repeat: no-repeat;
     width: 50%;
     height: 50%;
     margin: auto;
}
 .nike33{
     background-image: url(../image/nike.svg);
     background-size: contain;
     background-repeat: no-repeat;
     width: 80px;
     height: 30px;
     margin: auto;
     border: none;
}

